[include]
    path = .gitconfig.local
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    co = checkout
    br = branch
    ba = branch -a
    ci = commit
    st = status
    last = log -1 HEAD
    lg = log --graph
    wtf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    last = show -1 HEAD --stat
[log]
    date = local
[push]
    default = tracking
[branch]
    autosetuprebase = always
[gc]
    auto = 0
