Compression yes
CompressionLevel 9
ServerAliveInterval 120
ForwardAgent yes

Host *
    ForwardAgent yes

Host github.com
    User git
    Port 22
    Hostname github.com
    IdentityFile ~/.ssh/id_rsa.github.com
